<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap Demo</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="{% static 'user/home.css'  %}" rel="stylesheet" />
    <link href="{% static 'user/chatbox.css'  %}" rel="stylesheet" />
  </head>
  <body>
    <main>
      <header class="navbar">
        <div class="navbar-logo">
          <a href="{% url 'home' %}" style="text-decoration: none; display: inline-flex; align-items: center; color: inherit;">
            <img src="{% static '/assets/logo.png' %}" alt="logo" />
            <span style="font-size: 1.25rem; font-weight: 500; color: #333;">LLC TOURISM</span>
          </a>
        </div>        
        <nav class="navbar-links">
          <a href="{% url 'user_side_destination_list' %}">DESTINATIONS</a>
          <a href="{% url 'activity' %}">ACTIVITIES</a>
          <a href="{% url 'accommodation' %}">ACCOMMODATIONS</a>
          <a href="{% url 'food' %}">FOOD &amp; DRINKS</a>
          <a href="#chat">LET'S CHAT!</a>
        </nav>
      </header>

      <!-- Wrap content blocks in a div -->
      <div id="content-wrapper">
        {% block home%}
        {% endblock %}
        {% block page-content%}
        {% endblock %}
      </div>

      <!-- Footer -->
      <footer>
        <div class="footer">
          <div class="row d-inline">
            <a href="#" class="mx-3"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="mx-3"><i class="fab fa-instagram"></i></a>
            <a href="#" class="mx-3"><i class="fab fa-youtube"></i></a>
            <a href="#" class="mx-3"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="row justify-content-center text-center">
            <ul class="list-unstyled">
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Career</a></li>
            </ul>
          </div>

          <div class="row justify-content-center text-center">
            All rights reserved 
          </div>
        </div>
      </footer>
    </main>
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
