{% extends "base.html" %}
{% load static %}
{% block image_background %}
  <img src="{% static '/assets/food.jpg' %}" alt="Lapu-Lapu City" class="img-fluid w-100"/>
{% endblock %}
{% block title %}
  Room Rates
{% endblock %} 
{% block card_images %}
  <!-- Card 1 -->
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card">
                <img src="{% static '/assets/food.jpg' %}" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                <div class="card-body text-center d-flex flex-column align-items-center">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary mt-auto">Go somewhere</a>
                </div>
              </div>
            </div>
            
            <!-- Card 2 -->
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card">
                <img src="{% static '/assets/attraction.jpg' %}" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                <div class="card-body text-center d-flex flex-column align-items-center">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary mt-auto">Go somewhere</a>
                </div>
              </div>
            </div>
            
            <!-- Card 3 -->
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card">
                <img src="{% static '/assets/activity.jpg' %}" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                <div class="card-body text-center d-flex flex-column align-items-center">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary mt-auto">Go somewhere</a>
                </div>
              </div>
            </div>
      
            <!-- Additional Card -->
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card">
                <img src="{% static '/assets/events.jpg' %}" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                <div class="card-body text-center d-flex flex-column align-items-center">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary mt-auto">Go somewhere</a>
                </div>
              </div>
            </div>
            
            <!-- Card 3 -->
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card">
                <img src="{% static '/assets/activity.jpg' %}" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                <div class="card-body text-center d-flex flex-column align-items-center">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary mt-auto">Go somewhere</a>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card">
                <img src="{% static '/assets/activity.jpg' %}" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                <div class="card-body text-center d-flex flex-column align-items-center">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary mt-auto">Go somewhere</a>
                </div>
              </div>
            </div>
  {% endblock %}